<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Roboto', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: url("/bgImg.jpg") no-repeat center center/cover;
            color: #ffffff;
        }

        .login-container {
            background: rgba(0, 0, 0, 0.5);
            border: 2px solid #fff;
            border-radius: 10px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            padding: 30px;
            width: 100%;
            max-width: 400px;
        }

        .login-container h2 {
            font-size: 30px;
            text-align: center;
            margin-bottom: 20px;
            color: #ffffff;
        }

        .form-group label {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
            color: #ffffff;
        }

        .form-group input {
            width: 100%;
            padding: 12px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 6px;
            background-color: rgba(255, 255, 255, 0.1);
            color: #ffffff;
            font-size: 14px;
            margin-bottom: 20px;
            transition: all 0.3s ease-in-out;
        }

        .form-group input:focus {
            border-color: #2980b9;
            background-color: rgba(255, 255, 255, 0.2);
            outline: none;
        }

        .login-btn {
            display: block;
            width: 100%;
            padding: 14px;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
            background-color: #ed7c6f;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .login-btn:hover {
            background: linear-gradient(135deg, #6dd5fa, #2980b9);
        }

        .error {
            color: #e74c3c;
            font-size: 12px;
            margin-top: 10px;
        }
        .register-link{
            padding: 2rem ;
        }
        .register-link a{
            color: #2980b9;
            padding-left: 0.8rem;
        }

    </style>
</head>
<body>
    <div class="login-container">
        <h2>Login Form</h2>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" autocomplete="username" required />
            </div>
            <div class="form-group">
                <label for="current-password">Password</label>
                <input id="current-password" name="password" type="password" autocomplete="current-password" required />
            </div>
            <div>
                <button type="submit" class="login-btn">Sign In</button>
            </div>
            
            <div class="register-link">
                <p>Create new account <a href="/"> Register Now</a></p>
            </div>
        </form>
    </div>
</body>
</html>
